img {
  width: 100%;
}
.checkout-form {
  background-color: #f7f7fa;
  border: solid 1px #e2e2e8;
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  margin:3px;
}
.product-card {
  cursor:pointer
}
.product-card:hover {
  box-shadow: 0 0 11px #3E3D3D;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
